__pycache__/
.eggs/
.env
.installed.cfg
.Python
.venv
.vscode/
*.csv
*.egg
*.egg-info/
*.epw
*.jar
*.log
*.nc
*.parquet
*.stat
build/
develop-eggs/
dist/
downloads/
eggs/
env/
ENV/
lib/
lib64/
MANIFEST
parts/
sdist/
share/python-wheels/
var/
venv/
wheels/
